html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

.footer {
 padding: 10px 0;
 background-color: #f5f5f5;
 font-size: 12px;
}

h1 {
  color: #8D20AE;
  text-align: center;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

canvas{
  width: 100%;
}

.manifesto{
    background: #8D20AE;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    box-shadow: 0px 2px 10px 5px #ccc;
}
a {
  color: #3b8bba;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.transform-app {
  text-align: center;
}

.hidden {
  display: none;
}


.download-btn {
  margin: 40px 0 0 0;
}

#download-btn {
  display: none;
}

.push {
  height: 4em;
}

button{
  background: #8D20AE;
  color: #fff;
  padding: 10px;
  border: 0;
  margin-bottom: 40px;
  cursor: pointer;
}
